body {
    background-color: rgba(32, 8, 8, 0.849);
}

.formCheck form {
    margin: auto;
    padding: 10px;
    text-align: center;
}

img.backgroundImage {
    opacity: 1;
    animation-name: fade-out;
    animation-duration: 4s;
}


/* THIS SECTION OF CODE IS FOR THE REVEAL FUNCTION, TO REVEAL ALL SOUNDBOARD
ELEMENTS */


/* this will fade out background image */

@keyframes fade-out { 
        from {
            opacity: 1;
            transform: 2s;
        }
        to {
            opacity: 0;
        }
    }




/* this will fade in all soundboard elements

    @keyframes fade-in {
         from {
            opacity: 0;
            transform: 2s;
        }
        to {
            opacity 1:
        }
    }