.indexbody {
    font-size: 32px;
    background-color:  rgb(46, 46, 46);
}

#bingImage { 
    display: block;
    margin: auto;
    border: 1px 50% 1px 50%;
    border-radius: 25%;
    
}

.soundboard {
    background: rgb(46, 46, 46)
}

.formCheck {
    margin: auto;
    padding: 10px;
    text-align: center;
}


@font-face
{
font-family: Mobsters;
src: url('Mobsters.ttf');
}


.buttonContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.collapseBtn {
    font-family: Mobsters;
    font-size: 50px;
    
}


.active, .collapsible:hover {
    background-color: #ccc;
  }
  




#tonyButtonImage {
    height: auto;
    max-width: 300px;
}




#paulieButtonImage {
    height: auto;
    max-width: 300px;
}


#juniorButtonImage {
    height: auto;
    max-width: 300px;
}




.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

/* .backgroundImage {
    animation: fade-out ease 0.4s forwards;
    animation-duration: 2s;
}
*/

/* img.visible {
    opacity: 1;
}

img.invisible {
    opacity: 0;
    animation: fade-out ease 1.75s forwards;
}

div.soundboardButtons {
    opacity: 0;
    animation: fade-in ease 5s forwards;
}
*/
/* THIS SECTION OF CODE IS FOR THE REVEAL FUNCTION, TO REVEAL ALL SOUNDBOARD
ELEMENTS */


/* this will fade out background image */

/*
@keyframes fade-out { 
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
*/



 /* this will fade in all soundboard elements, you need to
 use JS to either create or execute this CSS.  */

  /*  @keyframes  fade-in {
         from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    */